doctype html
html(lang='es')
  include head.pug
  body
    header#header
     nav
       a(href='/') Home
       a(href='/about') About
       a(href='/contact') Contact
    block content
    include foot.pug
    script(src='./js/index.mjs' defer type="module")